body {
    font-family: Arial, sans-serif;
    background-color: #eef2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h2 {
    color: #1e3a8a;
    text-align: center;
}

h3 {
    color: #1e3a8a;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 8px;
}

input {
    border: 1px solid #ccc;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1e40af;
}

.message {
    color: red;
    font-size: 14px;
}